# <b>Туториал по группировке табличных  данных в Julia<b>

Подготовили студенты группы БЭК182 НИУ ВШЭ ОП "Экономика":

София Баграмян, 
Мантуленко Леон, 
Валентин Брусенский

# Как загрузить Julia в Jupyter notebook

<b> Шаг 1 <b>

Скачать Julia https://julialang.org/downloads/

<b>Шаг 2<b>

Откройте командную строку Julia

<b>Шаг 3<b> Добавьте Julia в Julyter notebook

Для этого введите в командную строку: using Pkg и нажмите Enter

Затем, введите в командную строку : Pkg.add ("IJulia") и нажмите Enter

<b>Шаг 4<b> Создайте новый блокнот

Для этого нажмите на New, затем выберите Julia из раскрывающего списка

# Работа с данными

In [1]:
using BenchmarkTools
using DataFrames
using DelimitedFiles
using CSV
using XLSX
using Random
using FreqTables
using Pipe

<b> Базовые операции с DataFrame <b>

Создание DataFrames

In [5]:
DataFrame(A=1:3, B=rand(3), C=randstring.([3,3,3]), fixed=1)
#Первая строка - это название столбцов, вторая - тип данных.

3×4 DataFrame
 Row │ A      B          C       fixed
     │ Int64  Float64    String  Int64
─────┼─────────────────────────────────
   1 │     1  0.0831358  DC7         1
   2 │     2  0.255637   GVS         1
   3 │     3  0.772842   1l6         1

In [14]:
DataFrame()

0×0 DataFrame

In [6]:
#  создаем DataFrame 3 на 3 с данными сгенерированными случайно
DataFrame([rand(3) for i in 1:3], :auto)

3×3 DataFrame
 Row │ x1         x2         x3
     │ Float64    Float64    Float64
─────┼────────────────────────────────
   1 │ 0.484189   0.0439289  0.278569
   2 │ 0.0963102  0.732918   0.521289
   3 │ 0.0239889  0.596773   0.232375

In [11]:
# Также DataFrame может быть создан из массива данных
f = [1 2 3 4; 2 3 6 7]
df = DataFrame(f, :auto)

2×4 DataFrame
 Row │ x1     x2     x3     x4
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │     1      2      3      4
   2 │     2      3      6      7

Изменение наименования DataFrame

In [13]:
# Создаем одномерный вектор и используем его,чтобы переименновывать наш DataFrame
newnames = vec(string.(["o"], [1 2 3 4]))
rename!(df, newnames)

2×4 DataFrame
 Row │ o1     o2     o3     o4
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │     1      2      3      4
   2 │     2      3      6      7

In [12]:
df.o1

Другие возможности при использовании DataFrames

In [16]:
# Мы можем обращаться к любому из элементов DataFrame, используя  его положение внутри DataFrame
#(Так например в этой строке кода мы обращаемся к четвортому элементу первой строки ) 
df[1,4]

4

In [19]:
#  поиск любого элемента внутри DataFrame очень полезен если объем данных с которым вы работаете внушителен, потому генерируем DataFrame размера 100X100
df1 = DataFrame(rand(100, 100), :auto)

100×100 DataFrame
 Row │ x1         x2         x3         x4          x5         x6         x7   ⋯
     │ Float64    Float64    Float64    Float64     Float64    Float64    Floa ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 0.872865   0.415275   0.967888   0.844767    0.773876   0.962086   0.77 ⋯
   2 │ 0.296362   0.663447   0.299279   0.693191    0.0501494  0.0530263  0.09
   3 │ 0.606612   0.552338   0.909579   0.00579166  0.773416   0.891875   0.02
   4 │ 0.771045   0.224379   0.865029   0.468023    0.768055   0.756551   0.39
   5 │ 0.512621   0.850955   0.702478   0.13925     0.305645   0.65892    0.18 ⋯
   6 │ 0.442167   0.552254   0.417653   0.496587    0.939035   0.58741    0.72
   7 │ 0.748743   0.899442   0.82499    0.386457    0.0685745  0.327398   0.91
   8 │ 0.204973   0.250753   0.0184966  0.016652    0.0557201  0.327199   0.09
   9 │ 0.748461   0.762002   0.841992   0.811993    0.789274   0.592373   0.40 ⋯
  10 │ 0.947582   0.15352    0.994559   0.203542    0.674644   0.59631    0.63
  11 │ 0.423028   0.525102   0.535402   0.673822    0.202794   0.920789   0.79
  ⋮  │     ⋮          ⋮          ⋮          ⋮           ⋮          ⋮           ⋱
  91 │ 0.578068   0.588437   0.126845   0.585807    0.0765554  0.402061   0.06
  92 │ 0.514235   0.552025   0.443365   0.795007    0.369997   0.378301   0.60 ⋯
  93 │ 0.760223   0.733137   0.322951   0.673074    0.289178   0.363167   0.70
  94 │ 0.338433   0.733972   0.0958301  0.914954    0.221332   0.721049   0.73
  95 │ 0.663945   0.737693   0.728547   0.12766     0.314373   0.0681191  0.82
  96 │ 0.841048   0.147498   0.663691   0.363602    0.351708   0.169864   0.35 ⋯
  97 │ 0.338179   0.0233569  0.2011     0.969056    0.479657   0.74644    0.79
  98 │ 0.146579   0.472947   0.19522    0.306817    0.216477   0.66925    0.91
  99 │ 0.666955   0.57562    0.169729   0.453702    0.36554    0.550049   0.96
 100 │ 0.377784   0.596409   0.0507311  0.238545    0.427363   0.550603   0.30 ⋯
                                                  94 columns and 79 rows omitted

In [ ]:
# Используя данную функцию можно получить первый элемент данного DataFrame
first(df1)

In [21]:
# Используя данную функцию можно получить последний элемент данного DataFrame
last(df1)

DataFrameRow
 Row │ x1        x2        x3         x4        x5        x6        x7         ⋯
     │ Float64   Float64   Float64    Float64   Float64   Float64   Float64    ⋯
─────┼──────────────────────────────────────────────────────────────────────────
 100 │ 0.377784  0.596409  0.0507311  0.238545  0.427363  0.550603  0.309205   ⋯
                                                              93 columns omitted

In [53]:
#DataFrame может содержать элементы разных типов (целые и дробные числа или буквы)
df2 = DataFrame(A = [1, 2], B = [1.0, 3.0], C = ["a", "b"])

2×3 DataFrame
 Row │ A      B        C
     │ Int64  Float64  String
─────┼────────────────────────
   1 │     1      1.0  a
   2 │     2      3.0  b

In [54]:
# Данная функция показывает размерность DataFrame
size(df2)

(2, 3)

In [55]:
# Используя соответствующую функцию мы можем получить основное описание элементов DataFrame
describe(df2)

3×7 DataFrame
 Row │ variable  mean    min  median  max  nmissing  eltype
     │ Symbol    Union…  Any  Union…  Any  Int64     DataType
─────┼────────────────────────────────────────────────────────
   1 │ A         1.5     1    1.5     2           0  Int64
   2 │ B         2.0     1.0  2.0     3.0         0  Float64
   3 │ C                 a            b           0  String

<b> Работa c CSV <b>

Помимо этого julia может быть использована для работы с файлами типа csv

In [56]:
# Выведем первые 5 строк csv данных, переведенных в формат DataFrame
using CSV
using DataFrames
df = CSV.read("ann.csv", DataFrame)
first(df, 5)

5×7 DataFrame
 Row │ year   industry_code_ANZSIC  industry_name_ANZSIC               rme_siz ⋯
     │ Int64  String                String                             String  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │  2011  A                     Agriculture, Forestry and Fishing  a_0     ⋯
   2 │  2011  A                     Agriculture, Forestry and Fishing  a_0
   3 │  2011  A                     Agriculture, Forestry and Fishing  a_0
   4 │  2011  A                     Agriculture, Forestry and Fishing  a_0
   5 │  2011  A                     Agriculture, Forestry and Fishing  a_0     ⋯
                                                               4 columns omitted

In [4]:
#мы можем получить информацию о любом столбце данных
df.industry_name_ANZSIC

13932-element PooledArrays.PooledArray{String,UInt32,1,Array{UInt32,1}}:
 "Agriculture, Forestry and Fishing"
 "Agriculture, Forestry and Fishing"
 "Agriculture, Forestry and Fishing"
 "Agriculture, Forestry and Fishing"
 "Agriculture, Forestry and Fishing"
 "Agriculture, Forestry and Fishing"
 "Agriculture, Forestry and Fishing"
 "Agriculture, Forestry and Fishing"
 "Agriculture, Forestry and Fishing"
 "Agriculture, Forestry and Fishing"
 "Agriculture, Forestry and Fishing"
 "Agriculture, Forestry and Fishing"
 "Agriculture, Forestry and Fishing"
 ⋮
 "Other Services"
 "Other Services"
 "Other Services"
 "All Industries"
 "All Industries"
 "All Industries"
 "All Industries"
 "All Industries"
 "All Industries"
 "All Industries"
 "All Industries"
 "All Industries"

Группировка Данных

In [5]:
#Используя соответствующую функцию мы можем сгруппировать наш Data Frame  по любому столбцу
vdf = groupby(df, :variable)

GroupedDataFrame with 9 groups based on key: variable
First Group (1548 rows): variable = "Activity unit"
  Row │ year   industry_code_ANZSIC  industry_name_ANZSIC               rme_si ⋯
      │ Int64  String                String                             String ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │  2011  A                     Agriculture, Forestry and Fishing  a_0    ⋯
    2 │  2011  A                     Agriculture, Forestry and Fishing  b_1-5
    3 │  2011  A                     Agriculture, Forestry and Fishing  c_6-9
    4 │  2011  A                     Agriculture, Forestry and Fishing  d_10-1
    5 │  2011  A                     Agriculture, Forestry and Fishing  e_20-4 ⋯
    6 │  2011  A                     Agriculture, Forestry and Fishing  f_50-9
    7 │  2011  A                     Agriculture, Forestry and Fishing  g_100-
    8 │  2011  A                     Agriculture, Forestry and Fishing  h_200+
    9 │  2011  A                     Agriculture, Forestry and Fishing  i_Indu ⋯
   10 │  2011  B                     Mining                             a_0
   11 │  2011  B                     Mining                             b_1-5
  ⋮   │   ⋮             ⋮                            ⋮                         ⋱
 1538 │  2019  R                     Arts and Recreation Services       i_Indu
 1539 │  2019  S                     Other Services                     a_0    ⋯
 1540 │  2019  S                     Other Services                     b_1-5
 1541 │  2019  S                     Other Services                     c_6-9
 1542 │  2019  S                     Other Services                     d_10-1
 1543 │  2019  S                     Other Services                     e_20-4 ⋯
 1544 │  2019  S                     Other Services                     f_50-9
 1545 │  2019  S                     Other Services                     g_100-
 1546 │  2019  S                     Other Services                     h_200+
 1547 │  2019  S                     Other Services                     i_Indu ⋯
 1548 │  2019  all                   All Industries                     j_Gran
                                                 4 columns and 1526 rows omitted
⋮
Last Group (1548 rows): variable = "Fixed tangible assets"
  Row │ year   industry_code_ANZSIC  industry_name_ANZSIC               rme_si ⋯
      │ Int64  String                String                             String ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │  2011  A                     Agriculture, Forestry and Fishing  a_0    ⋯
    2 │  2011  A                     Agriculture, Forestry and Fishing  b_1-5
    3 │  2011  A                     Agriculture, Forestry and Fishing  c_6-9
    4 │  2011  A                     Agriculture, Forestry and Fishing  d_10-1
    5 │  2011  A                     Agriculture, Forestry and Fishing  e_20-4 ⋯
    6 │  2011  A                     Agriculture, Forestry and Fishing  f_50-9
    7 │  2011  A                     Agriculture, Forestry and Fishing  g_100-
    8 │  2011  A                     Agriculture, Forestry and Fishing  h_200+
    9 │  2011  A                     Agriculture, Forestry and Fishing  i_Indu ⋯
   10 │  2011  B                     Mining                             a_0
   11 │  2011  B                     Mining                             b_1-5
  ⋮   │   ⋮             ⋮                            ⋮                         ⋱
 1538 │  2019  R                     Arts and Recreation Services       i_Indu
 1539 │  2019  S                     Other Services                     a_0    ⋯
 1540 │  2019  S                     Other Services                     b_1-5
 1541 │  2019  S                     Other Services                     c_6-9
 1542 │  2019  S                     Other Services                     d_10-1
 1543 │  2019  S                     Other Services                     e_20-4 ⋯
 1544 │  2019  S                     Other Services                     f_50-9
 1545 │  2019  S                     Other Services                     g_100-
 1546 │  2019  S                     Other Services                     h_200+
 1547 │  2019  S                     Other Services                     i_Indu ⋯
 1548 │  2019  all                   All Industries                     j_Gran
                                                 4 columns and 1526 rows omitted

In [6]:
#можно найти подходящую группу легко, передав кортеж значений группирующих столбцов 
vdf[("Total income",)]

1548×7 SubDataFrame
  Row │ year   industry_code_ANZSIC  industry_name_ANZSIC               rme_si ⋯
      │ Int64  String                String                             String ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │  2011  A                     Agriculture, Forestry and Fishing  a_0    ⋯
    2 │  2011  A                     Agriculture, Forestry and Fishing  b_1-5
    3 │  2011  A                     Agriculture, Forestry and Fishing  c_6-9
    4 │  2011  A                     Agriculture, Forestry and Fishing  d_10-1
    5 │  2011  A                     Agriculture, Forestry and Fishing  e_20-4 ⋯
    6 │  2011  A                     Agriculture, Forestry and Fishing  f_50-9
    7 │  2011  A                     Agriculture, Forestry and Fishing  g_100-
    8 │  2011  A                     Agriculture, Forestry and Fishing  h_200+
    9 │  2011  A                     Agriculture, Forestry and Fishing  i_Indu ⋯
   10 │  2011  B                     Mining                             a_0
   11 │  2011  B                     Mining                             b_1-5
  ⋮   │   ⋮             ⋮                            ⋮                         ⋱
 1539 │  2019  S                     Other Services                     a_0
 1540 │  2019  S                     Other Services                     b_1-5  ⋯
 1541 │  2019  S                     Other Services                     c_6-9
 1542 │  2019  S                     Other Services                     d_10-1
 1543 │  2019  S                     Other Services                     e_20-4
 1544 │  2019  S                     Other Services                     f_50-9 ⋯
 1545 │  2019  S                     Other Services                     g_100-
 1546 │  2019  S                     Other Services                     h_200+
 1547 │  2019  S                     Other Services                     i_Indu
 1548 │  2019  all                   All Industries                     j_Gran ⋯
                                                 4 columns and 1527 rows omitted

In [2]:
# далее мы используем другие данные
using CSV
df2 = CSV.read("unique.csv", DataFrame)

2094×4 DataFrame
  Row │ NZ Port     Citizenship                    Count   Year
      │ String      String                         Int64   Int64
──────┼──────────────────────────────────────────────────────────
    1 │ Akaroa      Australia                       73145   2015
    2 │ Akaroa      Austria                           125   2015
    3 │ Akaroa      Belgium                           158   2015
    4 │ Akaroa      Brazil                            314   2015
    5 │ Akaroa      Canada                           4522   2015
    6 │ Akaroa      China, Peoples Republic of       1507   2015
    7 │ Akaroa      Denmark                           143   2015
    8 │ Akaroa      France                            266   2015
    9 │ Akaroa      Germany                          1202   2015
   10 │ Akaroa      Hong Kong (Special Admin Reg)     417   2015
   11 │ Akaroa      India                             118   2015
  ⋮   │     ⋮                     ⋮                  ⋮       ⋮
 2085 │ Tauranga    Total                          183243   2020
 2086 │ Timaru      Total                            2089   2015
 2087 │ Timaru      Total                            2546   2017
 2088 │ Timaru      Total                            2197   2020
 2089 │ Wellington  Total                          139331   2015
 2090 │ Wellington  Total                          161335   2016
 2091 │ Wellington  Total                          163871   2017
 2092 │ Wellington  Total                          162223   2018
 2093 │ Wellington  Total                          222448   2019
 2094 │ Wellington  Total                          190754   2020
                                                2073 rows omitted

In [3]:
# для удобства можно переименовать столбец для дальнейшей работы
df2 = rename(df2, :"NZ Port" => :Port)

2094×4 DataFrame
  Row │ Port        Citizenship                    Count   Year
      │ String      String                         Int64   Int64
──────┼──────────────────────────────────────────────────────────
    1 │ Akaroa      Australia                       73145   2015
    2 │ Akaroa      Austria                           125   2015
    3 │ Akaroa      Belgium                           158   2015
    4 │ Akaroa      Brazil                            314   2015
    5 │ Akaroa      Canada                           4522   2015
    6 │ Akaroa      China, Peoples Republic of       1507   2015
    7 │ Akaroa      Denmark                           143   2015
    8 │ Akaroa      France                            266   2015
    9 │ Akaroa      Germany                          1202   2015
   10 │ Akaroa      Hong Kong (Special Admin Reg)     417   2015
   11 │ Akaroa      India                             118   2015
  ⋮   │     ⋮                     ⋮                  ⋮       ⋮
 2085 │ Tauranga    Total                          183243   2020
 2086 │ Timaru      Total                            2089   2015
 2087 │ Timaru      Total                            2546   2017
 2088 │ Timaru      Total                            2197   2020
 2089 │ Wellington  Total                          139331   2015
 2090 │ Wellington  Total                          161335   2016
 2091 │ Wellington  Total                          163871   2017
 2092 │ Wellington  Total                          162223   2018
 2093 │ Wellington  Total                          222448   2019
 2094 │ Wellington  Total                          190754   2020
                                                2073 rows omitted

In [4]:
# Используя данную, мы можем легко вычислить некоторые агрегированные значения по группам
y = groupby(df2, :Year)
year_mean = combine(y, :Count => mean => :Average)

6×2 DataFrame
 Row │ Year   Average
     │ Int64  Float64
─────┼────────────────
   1 │  2015  7579.63
   2 │  2016  7925.47
   3 │  2017  7145.83
   4 │  2018  7482.39
   5 │  2019  8614.72
   6 │  2020  7248.08

In [5]:
# данная функция возвращает отсортированные данные
sort(year_mean, :Average, rev=true)

6×2 DataFrame
 Row │ Year   Average
     │ Int64  Float64
─────┼────────────────
   1 │  2019  8614.72
   2 │  2016  7925.47
   3 │  2015  7579.63
   4 │  2018  7482.39
   5 │  2020  7248.08
   6 │  2017  7145.83

In [6]:
#посмотрим, сколько раз каждая страна использовала порты в каждом году.
freqtable(df2, :Citizenship, :Year)

45×6 Named Array{Int64,2}
           Citizenship ╲ Year │ 2015  2016  2017  2018  2019  2020
──────────────────────────────┼───────────────────────────────────
Argentina                     │    0     6     6     8     8     6
Australia                     │   12    12    16    14    16    18
Austria                       │    9     7     9     9    11     9
Belgium                       │    7     7     7     8     8     8
Brazil                        │    8     7     9     9     9     9
Bulgaria                      │    0     0     0     0     2     3
Canada                        │    9    10    11    12    14    15
Chile                         │    3     4     1     7     8     3
China, Peoples Republic of    │    9    11    11    11    10    10
Colombia                      │    0     0     0     0     2     0
Denmark                       │    6     7     7     8     9     9
Finland                       │    1     2     7     3     8     5
⋮                                  ⋮     ⋮     ⋮     ⋮     ⋮     ⋮
Singapore                     │    8     9     9     9     9     9
South Africa                  │    9     9     9     8     9     9
Spain                         │    6     7     9     9     9     9
Sweden                        │    7     8     7     9     9     9
Switzerland                   │    9     9    11     9    11    10
Taiwan                        │    7     7     9     9     9     9
Thailand                      │    0     0     1     3     8     0
Total                         │   17    15    20    15    18    19
Ukraine                       │    0     0     0     0     2     0
United Kingdom                │   12    11    15    14    14    16
United States of America      │   13    11    16    14    15    17
Vietnam                       │    0     0     0     0     0     2

In [49]:
# Создаем новый Data Frame и создаем цепочку операций, _ обозначает позицию аргумента, переданного с предыдущего шага в цепочке
# как итог мы получаем список уникальных портов, представленных отдельно для каждого года
df3 = @pipe df2 |>
                      groupby(_, :Year) |>
                      combine(_, :Port => x -> Ref(unique(x)))

6×2 DataFrame
 Row │ Year   Port_function
     │ Int64  Array…
─────┼──────────────────────────────────────────
   1 │  2015  ["Akaroa", "Auckland", "Bay of I…
   2 │  2016  ["Akaroa", "Auckland", "Bay of I…
   3 │  2017  ["Akaroa", "Auckland", "Bay of I…
   4 │  2018  ["Akaroa", "Auckland", "Bay of I…
   5 │  2019  ["Akaroa", "Auckland", "Bay of I…
   6 │  2020  ["Akaroa", "Auckland", "Bay of I…

In [7]:
#Представим данные выше в другом формате.
@pipe df2 |> groupby(_, :Year) |> combine(_, :Port => unique)

104×2 DataFrame
 Row │ Year   Port_unique
     │ Int64  String
─────┼──────────────────────────────
   1 │  2015  Akaroa
   2 │  2015  Auckland
   3 │  2015  Bay of Islands
   4 │  2015  Dunedin
   5 │  2015  Fiordland
   6 │  2015  Golden Bay
   7 │  2015  Kaikoura
   8 │  2015  Lyttelton
   9 │  2015  Marlborough Sounds
  10 │  2015  Napier
  11 │  2015  Nelson
  ⋮  │   ⋮              ⋮
  95 │  2020  Lyttelton
  96 │  2020  Marlborough Sounds
  97 │  2020  Napier
  98 │  2020  Nelson
  99 │  2020  New Plymouth
 100 │  2020  Stewart Island
 101 │  2020  Sub-Antarctic islands
 102 │  2020  Tauranga
 103 │  2020  Timaru
 104 │  2020  Wellington
                     83 rows omitted

# <b>Список источников по общим принципам работы с данными в Julia и их группировке<b>:

1.https://github.com/JuliaAcademy/DataFrames/blob/main/4.%20Grouping%20data%20frames.ipynb <br>
2.https://github.com/bkamins/Julia-DataFrames-Tutorial/blob/master/09_reshaping.ipynb <br>
3.https://habr.com/ru/post/429994/ <br>
4.https://dataframes.juliadata.org/stable/man/reshaping_and_pivoting/

# <b>Ссылки на использованные датасеты<b>

1.https://www.kaggle.com/kubi55/trial-dataset <br>
2.https://www.stats.govt.nz/large-datasets/csv-files-for-download/